input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 2px 10px;
  margin-left: 5px;
}

button:hover{
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #f5f5f5;
}

.completed-list p {
  padding: 10px;
  margin: 10px 0;
  background-color: #e8f5e9;
  text-decoration: line-through;
  color: #666;
}